[2017-12-14 13:28] mattcoxonline opened #1 "Plugin doesn't work?"
I can successfully install the plugin, but the menu items don't do anything.

Sketch version 48.1
Mac OS 10.13.2

[2017-12-14 14:03] valentinchrt commented on #1
Thanks for your feedback @mattcoxonline.
We are currently working on it.

[2017-12-14 14:17] valentinchrt commented on #1
We just released the version 1.0.16, the issue is fixed normally!

Keep me informed @mattcoxonline :)

[2017-12-14 17:16] mattcoxonline commented on #1
Thanks, @valentinchrt - will give it a shot when I'm back in the office tomorrow.

[2017-12-15 20:16] #1 closed

[2017-12-20 18:08] richardbruskowski opened #2 "Enhancement: Respect icon position and size within SVG viewBox/canvas"
Is it possible to adopt the position and size of the icon path/shape within the original SVGs viewBox/canvas?

In other words: When I have an icon on a 48x48px canvas which is actually only 40x40px large and an icon on a 48x48px canvas which extends to 44x44px and I import them using the Plug-In, the original proportions between the two icons are lost, as both are scaled to the size defined at imp

[2017-12-21 09:03] richardbruskowski commented on #2
Hi Antoine,

I tried to illustrate it, maybe this makes it clearer:
![image](https://user-images.githubusercontent.com/15381942/34248379-20ea8384-e636-11e7-9c07-7403c7e13c24.png)

Let me know if you have further questions!

[2017-12-21 11:03] AMoreaux commented on #2
Hi Richard,

Thanks for illustrating your issue. I understand now.
I will look into it and come back to you 🙂

[2017-12-21 23:33] AMoreaux commented on #2
@richardbruskowski
I think I solved the problem with your idea. 👍  I would like to test with your two icons. Could you send them to me please?

[2017-12-22 07:59] richardbruskowski commented on #2
Cool! Sure, here you are:
[Archiv.zip](https://github.com/AMoreaux/Sketch-Icons/files/1581816/Archiv.zip)

[2017-12-23 13:12] valentinchrt commented on #2
Thanks for your feedback @richardbruskowski! Stay tuned, I'm pretty sure this feature will be in the next release 😇🎅

[2017-12-25 15:58] mattiasj commented on #2
Plus one for this enhancement!

[2017-12-25 16:37] AMoreaux commented on #2
Thank you for your feedback. The last version (v3.0.2) solve the problem.
Can you confirm it to me ?
Le lun. 25 déc. 2017 à 16:58, Mattias Johansson <notifications@github.com>
a écrit :

[2017-12-25 17:08] mattiasj commented on #2
Unfortunately, I get the same offset positions for the icons after importing the SVG files.
Example:
<img width="563" alt="skarmklipp 2017-12-25 18 07 36" src="https://user-images.githubusercontent.com/482031/34341762-a44dbb36-e99e-11e7-8c74-b1e7901f266d.png">

[2017-12-25 17:17] mattiasj commented on #2
Should I attach a zip with some test icons?

[2017-12-25 17:23] AMoreaux commented on #2
Yes please.

[2017-12-25 17:39] mattiasj commented on #2
Here we go!
[Icons.zip](https://github.com/AMoreaux/Sketch-Icons/files/1586050/Icons.zip)

[2017-12-26 00:25] AMoreaux commented on #2
@mattiasj The problem was that there was a transparent square in the svg. (Illustrator add a rect automatically ? ) Now the use case is taken into account. Can you check on your side please. Do not hesitate to give me other feedback. 😉

[2017-12-26 10:47] mattiasj commented on #2
Thanks a lot! It works perfect! I have one small request, if possible I would like to name the color fill symbol according to our defaults (Color, instead of 🎨 color). I tried renaming with Rename It plugin but it needed to much manual work. Any ideas? Besides that — works like a charm :)

[2017-12-26 17:31] AMoreaux commented on #2
I talk about it with the second guy of the project. I'll come back when we make a decision. 🙂

[2017-12-26 20:56] mattiasj commented on #2
Sounds good! Thanks! I will see if I can rename them for now :)

[2017-12-26 22:18] mattiasj commented on #2
<img width="223" alt="skarmklipp 2017-12-26 23 15 53" src="https://user-images.githubusercontent.com/482031/34365669-22dc5ce2-ea93-11e7-8bd7-e5e5469b1a3b.png">
I have been trying to import more icons, but notice that without the bunding box rectangle some (more complex
[Icon.zip](https://github.com/AMoreaux/Sketch-Icons/files/1587961/Icon.zip)
) shapes will get distorted. The color fill get applie

[2017-12-26 22:20] mattiasj commented on #2
[Icon.zip](https://github.com/AMoreaux/Sketch-Icons/files/1587963/Icon.zip)

[2017-12-26 22:52] AMoreaux commented on #2
I have change the process to import and mask icons. With the new process (that you used) i keep the original structure of the svg. So to apply mask i must add it on all shape. I have change because some svg are corrupt with precedent method. But all methods are not perfect... I know it's not very beautiful...  if you have suggestion to improve the process, i'm interested. For the box which is used

[2017-12-27 11:04] mattiasj commented on #2
Hello! I get worse results now, than in the beginning. Will attach a .zip with one example icon — and the results with plugin vs how the desired end result would be. Having several color fills will make it hard to maintain for large design systems. Let me know if I can assist further.
[Arkiv.zip](https://github.com/AMoreaux/Sketch-Icons/files/1588895/Arkiv.zip)

[2017-12-28 00:12] AMoreaux commented on #2
Hello! I maked a big update for the feature of import icons. Now for one icon you have one layer so one mask. Can you try it with your icons libs ? For the problem of the name of the layer mask, I will speak with the author of rename it to resolve it.

[2017-12-28 10:50] mattiasj commented on #2
Hey @AMoreaux! The import works flawless now, and the symbol fills are great. I will try to find a plugin to batch rename the masks (until/unless) you implement an option to enter a custom name for the fill :) Thanks!

[2017-12-28 11:56] mattiasj commented on #2
Unfortunately, we were close but not fully in goal. Looks like the fill layer gets slighly wrong dimension and is placed -1 -1 in dimensions. See screenshot.
I imported 64x64 icons, the fill symbol gets 66x66 and is offset -1 -1 instead of 0 0.
<img width="210" alt="skarmklipp 2017-12-28 12 55 10" src="https://user-images.githubusercontent.com/482031/34410158-90569026-ebce-11e7-82f4-73267ab58a2f.p

[2017-12-28 13:09] AMoreaux commented on #2
It's fixed. Thank you 👍

[2017-12-28 17:41] mattiasj commented on #2
Works! But now you are setting the color fill to a fixed size (64 in our case). So if anyone import 48 grid icons, the color fill still will be 64. It's not a big problem, but the rationale would be that the color fill scales to fit the same size as the artboard. Could be 12x, 24x, 32x or something else :)

[2017-12-28 20:59] mattiasj commented on #2
It worked perfect, and now I have all my icons set up with color fill. 16px, 24px, 32px, 48px and 64px. This would be impossible without this plugin. MUCH appreciated!

[2017-12-29 00:16] AMoreaux commented on #2
Awesome! Thank you very much for your feedback. 😄

[2017-12-29 13:39] valentinchrt commented on #2
Glad to hear that @mattiasj! Thanks so much for your help! 🙏

Regarding the renaming, I'm wondering if it's a good solution to integrate this feature into our plugin.
I'm afraid to make Sketch Icons plugin more complicated.

I think Rename It should have the functionality to search and rename without having to select a layer. We will suggest they add functionality, I think it's a better solution f

[2017-12-29 15:45] mattiasj commented on #2
My pleasure! I agree that you should keep the plugin focused on one job. I renamed my color symbols easily with https://github.com/sonburn/symbol-instance-renamer to my preference. Easy and neat solution!

[2018-01-03 14:56] StudioMastro opened #3 "Missing .sketchplugin file"
Hi AMoreaux,
it seems the executable .sketchplugin file is missing in the package in this latest update.
I tried and downloaded a couple of time but nothing. In your readme.md file the link is to the previous version.

Thanks,
A

[2018-01-03 15:10] AMoreaux commented on #3
Hi thanks, it's fixed. 👍

[2018-01-03 15:14] #3 closed

[2018-01-03 15:21] charlesbail opened #4 "Empty symbols when importing outlined icons"
Hi there,
I'm trying to import the Feather icon sets. Icons are outlined, so it's only a path with a 2px border.
Once I import an icon with the Sketch-icons plugin, the symbol is empty.

I have no problem with a filled icon. I did the test myself with two icons I created: one with a fill and no border, the other with a border but no fill.

Sketch version: v48.2

Carl —

[2018-01-03 15:45] valentinchrt commented on #4
Hey @charlesbail,

Thanks for your feedback!
@AMoreaux is currently solving it :)

We'll let you know!

[2018-01-04 21:32] valentinchrt commented on #4
Hey @charlesbail,

We have been working on it since yesterday, the outline icons are complicated to manage in Sketch. We have found a solution but it will take time to implement it. We will release a major version of Sketch Icons in the coming weeks that should solve the problem.

In the meantime, you can import all the icons using the fills with Sketch Icons :)

Also, you can download the Sketch

[2018-01-05 10:41] charlesbail commented on #4
Thanks for your time.

yes I saw the filled version from these icons, but this is why I used SketchIcons, because I wanted to imported stroke icons. I would have need this version because when scaling icons up (lets say from 24x24 to 32x32) I don't want to increase the width of the stroke, what will happend if it's a fill.

I'll just wait for the release, or do it one by one..!

Thanks again,
Char

[2018-01-05 11:14] valentinchrt commented on #4
Ok I see.

For this case, do you want to apply a color mask as well? Or do you just want to import your icons?

[2018-01-05 12:33] charlesbail commented on #4
For the stroked ones ? I already have a plugin to duplicate a color symbol over all my icons !

[2018-01-06 21:04] valentinchrt commented on #4
We've just released 3.0.11. This version allows you to import stroke icons.
Unfortunately, you can't apply a color mask on stroke icons.

We will release a major update soon (all about strokes / fills and color).

Thanks again @charlesbail ✌️

[2018-01-06 21:04] #4 closed

[2018-01-06 21:50] valentinchrt commented on #2
Hey @mattiasj,

In fact, you can batch rename the masks with Rename It.

**Here's how to do it:**
1. Import your icons and apply color mask with Sketch Icons
2. Select all with Cmd + A
3. Go to "Plugins -> Rename It -> Find and Replace Layers Names"
4. Find: 🎨 color
5. Replace: Color

That's it!

Have a nice weekend,
Valentin

<img width="1920" alt="rename-it-select-all" src="https://user-images.g

[2018-01-10 16:13] richardbruskowski commented on #2
Hi!

I do experience slight shifts in position when importing icons. Maybe a rounding/precision issue? A quick test suggests that this might only occur with paths who do not sit on exact integer value pixels:

![screenshot](https://user-images.githubusercontent.com/15381942/34782565-64c6abac-f629-11e7-8179-d73ca6e4bd58.png)

The zip file includes the whole experiment:
[offset-on-import.zip](https:

[2018-01-10 22:39] AMoreaux commented on #2
hi, I understand the problem. I try to fix it in the next release.

[2018-01-11 11:45] kellyvuijst opened #5 "Some SVG files will turn up blank"
Some icons in my set will turn up as blank canvasses. I dropped some example files below that are not showing up. For the set below, only the milk, pig and chicken will show, the rest are blank artboards with nothing inside.

![screen shot 2018-01-11 at 12 45 17](https://user-images.githubusercontent.com/4254711/34824082-53f10508-f6cd-11e7-974c-228ccc77bdc8.png)

[my-icons-collection-23.zip](https

[2018-01-11 11:50] valentinchrt commented on #5
Thank you @kellyvuijst!

We'll take a look 👀

[2018-01-11 12:21] jansemka opened #6 "Request: Simple creation of masked icons"
Thanks for this one! I had a similar idea for a plugin to generate these icons. The huge downside is, i take a lot of stroked icons and they need to be converted to shapes so that they work as a mask. Another downside was the creation of the symbol itself. I would recommend/had the following workflow concept in my mind:

1. Drag n drop you icon/icons (I use iconjar/nucleo)
2. Select the icons
3. S

[2018-01-11 12:49] AMoreaux commented on #5
hi @kellyvuijst, thanks for your feedback, I found the problem. I will fixed it in the next version.

[2018-01-11 13:02] valentinchrt commented on #6
Hey @jansemka,

Wow, thank you for your feedback!
To be honest, we know about strokes, we're working on that right now.

**Here is our global roadmap:**
**Release 4.0:**
Ability to apply a color on stroked icons. If the applied color comes from a library, we will apply a color to the border. The icon will not be dynamic!
**Release 5.0:**
When a color is applied to a stroked icon, it will be automa

[2018-01-11 13:23] AMoreaux commented on #5
It's fixed in the latest version. 🙂

[2018-01-11 13:23] #5 closed

[2018-01-11 14:40] edwardsdesign opened #7 "Remove Black Fill from Dynamic Color Masked Icons"
When generating an icon with a dynamic color mask allow an option to remove the black fill on the vector shape. Currently, if the dynamic color mask has alpha transparency, it is obscured by the black fill and requires the user to have to

1. Generate icons without color mask
2. Select all icons and remove black fill
3. update selected icons with dynamic color mask

Remove fill option would allow

[2018-01-11 14:54] edwardsdesign opened #8 "Create symbol from Color Picker Color Source"
Add option to to create a symbol from the selected color picker color.

This is more of a nice-to-have when generating large icon libraries. If you are allowing the user to pick a color, giving them the ability to convert that picked color into a dynamic symbol in the same step would compliment the plugin's intended functionality.

[2018-01-11 16:41] AMoreaux commented on #7
Hi @edwardsdesign  thanks for the feedback, we are working on a plugin that will generate a color library with a color picker. I think it's a better solution to make two plugins and dissociate features.

[2018-01-11 16:41] AMoreaux commented on #8
Hi @edwardsdesign thanks for the feedback, we are working on a plugin that will generate a color library with a color picker. I think it's a better solution to make two plugins and dissociate features.

[2018-01-11 16:44] valentinchrt commented on #7
Thanks for your explanation @edwardsdesign!
We take note of it. This will be fixed in the next release! 🎉

[2018-01-11 23:48] sqwear opened #9 "Ability to append a path structure to the name."
More a feature request, but can the ability to add "path/to/symbol" structuring during the creation of the symbols?

[2018-01-12 04:24] redhajr opened #10 "Add feature import icon as font and zeplin issue"
Using masking is good but there is issue when the artboard export to zeplin (color not read). Maybe if there is feature import as icon font the zeplin issue will be resolve. thanks

[2018-01-12 06:33] redhajr opened #11 "Retype the size of icon when replace several icon"
when i wanna replace an icon, maybe ask again about the size of the icons

[2018-01-12 11:26] AMoreaux commented on #9
Hi @sqwear. You speak about the path of the file system ? If you want manage your icons by name. I suggest to use the plugin "rename it". Look the bonus tips in the medium article: https://blog.prototypr.io/introducing-sketch-icons-2074d9dc9ed2

[2018-01-12 11:37] AMoreaux commented on #10
Hi @redhajr if you use the mask from the color picker, the color will kept in zeplin. I may take it into account in the next release. But it's not a bug of the plugin, it's the Zeplin or Sketch's operation.

[2018-01-12 11:38] #10 closed

[2018-01-12 11:48] AMoreaux commented on #11
I think when you use replace an icon, the new icon is smaller ? I will fixed in the next release. But I'm not sure to ask again to set a padding and size.

[2018-01-12 13:31] bouchenoiremarc opened #13 "Wrong version number in manifest.json"
3.0.14 can't be installed with Sketch's plugin updates because the .zip referenced in the `appcast.xml` has the wrong version number (3.0.12) in its `manifest.json`.

[2018-01-12 13:42] AMoreaux commented on #13
Thanks. It's fixed. Can you confirm it work on your computer please ?

[2018-01-12 13:48] bouchenoiremarc commented on #13
Not yet, only the repo's manifest appears to be changed, did you update the 3.0.14 release attached .zip?

[2018-01-12 14:06] AMoreaux commented on #13
Sorry I updated one file out of two. Now it's good. Confirm?

[2018-01-12 14:10] bouchenoiremarc commented on #13
Yep 😀

[2018-01-12 14:10] #13 closed

[2018-01-12 14:35] AndrewRodgers opened #14 "Can't get plugin to work for me"
Hey, I can't seem to get my icons to import _with_ a color mask, _nor_ converted to a symbol when using "from color picker". Maybe I'm just missing something? I'm linking to a video of me using the plugin along with attaching a zip of my test icons. Thanks in advance for any help, really want to get this working!
[sketch_icons_plugin_test_folder_02.zip](https://github.com/AMoreaux/Sketch-Icons/fil

[2018-01-12 14:44] AMoreaux commented on #14
Hi @AndrewRodgers , which version of plugin and macos do you use ?

[2018-01-12 14:50] AndrewRodgers commented on #14
I’m using 3.0.14, latest edition since you closed issue #13

[2018-01-12 14:57] AMoreaux commented on #14
And the OS version ? Can you send me a screen of console. (see next image to open console)

<img width="763" alt="console open" src="https://user-images.githubusercontent.com/7237157/34880586-34883ce2-f7b1-11e7-97df-1e16c6005de7.png">

![console 2018-01-05 15-51-45](https://user-images.githubusercontent.com/7237157/34880595-39793c6a-f7b1-11e7-8aae-809bbbbd884c.png)

[2018-01-12 18:49] AndrewRodgers commented on #14
Console Log:
![image](https://user-images.githubusercontent.com/1911042/34890258-3815ee66-f79f-11e7-958f-d7cb56d6fd05.png)

OS Version: macOS Sierra v. 10.12.6

[2018-01-12 19:29] AMoreaux commented on #14
Try to reinstall the plugin.

[2018-01-12 23:45] sqwear commented on #9
@AMoreaux thanks man for the tip. Awesome plugin!!!

[2018-01-15 02:39] redhajr commented on #11
yes, when i replace the icon is smaller. Retype icon size is useful when there are so much icon symbols with different size. thank you

[2018-01-15 02:40] redhajr commented on #10
how about import icon as font icon? optional import method

[2018-01-15 09:37] AMoreaux commented on #11
In the next version I keep the original padding of icons. When you replace an icon the new icon keep the original size. So the bug will be fixed in the next release.  But we don't want display a modal on "replace icons" feature.

[2018-01-15 21:10] dejot commented on #14
Same problem here. Reinstalling the plugin - manually or over sketch runner, doesn't make any difference.
Thanks in advance.

[2018-01-15 21:43] AMoreaux commented on #14
hi @dejot, you are on sierra or high sierra too ? Can you send me the log like AndrewRodgers please.

[2018-01-15 21:49] valentinchrt commented on #10
Hey @redhajr,

Thank you for you suggestion.
Unfortunately, it's not on our radar for a future release.

I recommend you to read this article if you want to manage font icons in Sketch:
https://medium.com/sketch-app-sources/the-perfect-sketch-icon-workflow-8d15bd5cc873

Valentin

[2018-01-15 22:46] dejot commented on #14
Hi @AMoreaux --> here you go
![2018-01-15_23-44-46](https://user-images.githubusercontent.com/1021447/34964515-402dc0e0-fa4e-11e7-9e47-0a0c842faac7.png)

[2018-01-15 22:51] AMoreaux commented on #14
It may be a conflict between plugins. Can you disable all plugins except sketch-icons and retry please.

[2018-01-16 00:00] dejot commented on #14
Hi @AMoreaux --> you're right!
It was one of the plugins. Since I'm not using all of them. I just activate these, I remeber i was using.

Thank's a lot...
If you want research about this problem, here's the list of all plugins I've downloaded to SKETCH:

![2018-01-16_00-56-26](https://user-images.githubusercontent.com/1021447/34965982-9d234978-fa58-11e7-9cb8-8c434c92834f.png)

[2018-01-16 14:12] #14 closed

[2018-01-16 14:12] #8 closed

[2018-01-16 14:16] #9 closed

[2018-01-16 14:16] #6 closed

[2018-01-16 14:46] AndrewRodgers commented on #14
@AMoreaux - for what it's worth I reinstalled Sketch Icons, and then re-enabled All of the plug-ins that are checked below one-by-one (restarting and re-testing Sketch Icons as I went) and the one plugin that conflicted for me was [Sketch Focus](https://sketchfocus.com/)

![image](https://user-images.githubusercontent.com/1911042/34994489-a6b55762-faa1-11e7-9772-74bc366257a7.png)
![image](https://

[2018-01-16 19:34] marisnaylor opened #15 "Mask not working"
When importing icons or adding a mask to already-created icons, mask never applies. Running sketch 48.2 on mac.

[2018-01-16 19:43] AMoreaux commented on #15
Hello, can you send me two icons of you set please ?

[2018-01-17 02:51] llewellynathan opened #16 "Masks not being applied"
When I select one or many artboards and try to "Apply color mask..." masks are not applied. I'm using the latest version of Sketch and I'm on the latest Mac OS.

[2018-01-17 10:29] valentinchrt commented on #16
Hey @llewellynathan,

What kind of icon did you try? Filled or stroked?
If you can send me one or two icons of them, I will take a look

Thanks :)

[2018-01-17 14:08] marisnaylor commented on #16
@valentinchrt I tried both and neither worked.

[2018-01-17 14:11] marisnaylor commented on #15
@AMoreaux it was just standard font awesome icons. it doesn't work with any icons, though. Also doesn't convert them to symbols.

[2018-01-17 14:14] marisnaylor opened #17 "Import Icons not converting to symbol when color mask is enabled"
When importing icons, "convert to symbol" does not work if color mask is enabled. Artboards appear as normal non-symbol artboards. Running latest mac os and sketch version.

[2018-01-17 14:21] marisnaylor commented on #15
@AMoreaux SOLVED after reading an old bug. Sketch Focus plugin was what was causing the issue. Uninstalled focus, re-installed icons. works great now. I would append the readme in case anyone else has this issue.

[2018-01-17 14:22] marisnaylor commented on #16
@llewellynathan try disabling other plugins and reinstalling sketch icons. see if that fixes it.

[2018-01-17 14:22] #17 closed

[2018-01-17 14:35] valentinchrt commented on #15
Thanks for you feedback @marisnaylor!

[2018-01-17 15:29] #15 closed

[2018-01-18 13:35] kemie opened #18 "Subdirectories"
I have a large icon set, divided into subfolders. Right now if I choose the parent folder, nothing gets imported. I have to go through each individual subfolder. Could it be set up to search for icons recursively?

[2018-01-18 16:34] AMoreaux commented on #18
Yes you right. I will add it in future version. 👍

[2018-01-18 19:28] pglevy opened #19 "Not working with 47.1 on 10.13.2 (High Sierra)"
Just downloaded and installed the plug-in.

When I try Import, nothing comes up. Nothing seems to happen at all.

I tried disabling all other plug-ins, but that didn't have any effect.

[2018-01-18 20:15] AMoreaux commented on #19
hi @pglevy can you send me the log please.
![image](https://user-images.githubusercontent.com/7237157/35119257-b12d5e8e-fc94-11e7-906d-52c62859d957.png)
![image](https://user-images.githubusercontent.com/7237157/35119268-b81cb276-fc94-11e7-9c5f-7a67f37ecaba.png)

[2018-01-18 20:16] AMoreaux commented on #14
Thank you @AndrewRodgers  👍

[2018-01-18 21:42] pglevy commented on #19
[Plugin Output.log](https://github.com/AMoreaux/Sketch-Icons/files/1644547/Plugin.Output.log)

[2018-01-18 21:52] barmallion opened #20 "Sketch 48.2 (MacOS Sierra 10.12.6) work only import and replace icons"
Color masks don't work.
Can't create symbols (with checkbox in icon import modal).

[2018-01-18 22:10] AMoreaux commented on #20
hi @barmallion can you send me two icons of you set and the log please ?
![image](https://user-images.githubusercontent.com/7237157/35123980-b0c3f7c2-fca4-11e7-9d1e-7bc979dd6527.png)
![image](https://user-images.githubusercontent.com/7237157/35123988-b825b3de-fca4-11e7-9300-14a3f5f0b780.png)

[2018-01-18 22:11] AMoreaux commented on #19
How do make to install the plugin ?

[2018-01-19 08:08] barmallion commented on #20
Disabling all plugins work to me - thank you!

[2018-01-19 08:31] #20 closed

[2018-01-19 12:29] runnickrun commented on #16
Masks seem to work after disabling all plugins. So far works with the Runner.

[2018-01-19 12:38] AMoreaux commented on #16
It seems that Sketch Focus plugin only is preventing Sketch Icons from working properly

[2018-01-19 15:05] pglevy commented on #19
Method 3 in the readme

[2018-01-20 10:49] runnickrun commented on #16
@AMoreaux yep, I actually had Focus in place.

[2018-01-20 10:51] runnickrun opened #21 "Feature request: multiple generate multiple sizes of the icon"
It would be cool to have an ability to generate multiple sizes of the icon. Currently plugin allows only to create only one.

![image](https://user-images.githubusercontent.com/18515722/35182580-91c18ca8-fde0-11e7-9a0d-f2697e046926.png)

For example, allow multiple fields for size or maybe a dynamic button “+ add size”.

[2018-01-20 12:50] AMoreaux commented on #19
Your macos version is el capitan ?

[2018-01-20 12:53] AMoreaux commented on #21
Thanks for you feedback. It's on the roadmap ! 👍

[2018-01-22 13:22] AMoreaux commented on #2
Hi @richardbruskowski, @mattiasj. If you want to try the last version contact me on twitter. We search feedbacks.

[2018-01-22 13:51] dumopuh commented on #19
Hi! I have the same situation.

macOS High Sierra v. 10.13.2

Installation methods (no difference):

— 2 (plugin v.3.0.12)
— 3 (plugin v.3.0.14)

[Plugin Output.log](https://github.com/AMoreaux/Sketch-Icons/files/1652179/Plugin.Output.log)

[2018-01-22 14:37] pglevy commented on #19
No... High Sierra.

[2018-01-22 15:56] AMoreaux commented on #19
@dumopuh , @pglevy Can you tell me your email ? (my address is on my profile) I send you the last released (in beta) to try.

[2018-01-23 18:44] jluna79 commented on #19
Hi, just installed the plugin (High Sierra, using sketch runner).

When I try to import the icons I am getting a very weird behaviour: Icons are smashed into a solid colour square.
![screen shot 2018-01-23 at 19 29 18](https://user-images.githubusercontent.com/411374/35293373-c7007f6a-0073-11e8-9783-2c43497772ef.png)

I reviewed the output and foud that the problem is caused by a squared path that

[2018-01-23 18:48] jluna79 opened #22 "Path added to shape renders the icon into square"
Hi, I just installed the plugin (High Sierra, using sketch runner).

When I try to import the icons I am getting a very weird behaviour: Icons are smashed into a solid colour square.
![screen shot 2018-01-23 at 19 29 18](https://user-images.githubusercontent.com/411374/35293373-c7007f6a-0073-11e8-9783-2c43497772ef.png)

I reviewed the output and found that the problem is caused by a squared path t

[2018-01-23 19:04] AMoreaux commented on #22
hi, @jluna79 . Can you send me two icons of your set please ? You can also try with the next beta version : https://drive.google.com/drive/folders/1y05-V_X-d6U2Ag_xR2J_1Uk_Nghc2HVb?usp=sharing

[2018-01-24 09:27] jluna79 commented on #22
Hello,

I've been thinking about why it might be that the path is being added and I think it is because the icons have an overlaying mask (so that I can easily change the colour by using colour symbols) and this mask is being converted into a solid path (but it shouldn't).

Here's a screenshot of the structure of the icon and I'm attaching the two icons you requested.

![screen shot 2018-01-24 at

[2018-01-24 10:25] richardbruskowski commented on #2
Hi @AMoreaux
I just checked v4 with the same setup. ( https://github.com/AMoreaux/Sketch-Icons/issues/2#issuecomment-356651144 )
Still experiencing a shift when importing icon-test-glyph-2 as described above.

[2018-01-24 12:30] AMoreaux commented on #22
Hello,
If you import without sketch-icons. Your icon are broken too. Because there is mask in your sources and sketch don't support import with mask.

[2018-01-24 14:31] jluna79 commented on #22
Mmmh, I didn't know that! :/

Btw, how are you importing the svg into sketch? If I drag&drop it into sketch or open the file I get the following result (which seems correct):

![image](https://user-images.githubusercontent.com/411374/35337374-4f11a922-011b-11e8-92bd-8a8cf46bb7da.png)

[2018-01-24 14:38] AMoreaux commented on #22
🤔 When I drag and drop I see that :

<img width="270" alt="screen shot 2018-01-24 at 15 35 34" src="https://user-images.githubusercontent.com/7237157/35337766-51a98884-011c-11e8-82c1-0219330f1b6d.png">

[2018-01-24 15:12] jluna79 commented on #22
That is very weird. This is what I see for that Icon:

![image](https://user-images.githubusercontent.com/411374/35339618-56ddaeb6-0121-11e8-9795-703e61c9d44a.png)

I'm using Sketch 48.2 (47327)

[2018-01-24 15:53] AMoreaux commented on #22
Sorry I said stupid things. I had edit the source. Sketch work perfectly with mask.

[2018-01-24 15:54] AMoreaux commented on #22
So. The problem is that the plugin don't work if there is mask in svg. I will work on this use case for next version.

[2018-01-24 15:56] jluna79 commented on #22
👍  I'll be waiting! :)

It's a very useful plug-in as it is, it can only get better and better!

[2018-01-24 17:24] #16 closed

[2018-01-24 17:25] #18 closed

[2018-01-24 17:25] #7 closed

[2018-01-25 12:04] AMoreaux commented on #19
@pglevy @dumopuh  It seems like it's a bug in high sierra and sketch 47. It will work with sketch 48

[2018-01-25 12:05] #19 closed

[2018-01-25 14:12] pglevy commented on #19
Thanks for looking into it!

[2018-01-25 15:52] AMoreaux opened #23 "Link library to folder"

[2018-01-25 15:53] AMoreaux opened #24 "Integration with iconJar"
When a user slides and drops icons. The window of import opens to ask import parameters.

[2018-01-25 15:54] AMoreaux opened #25 "Settings"
- Default size and padding
- Display modal to retype padding and size when replace icon. (checkbox)
- Link to folder (#23)

[2018-01-25 15:58] AMoreaux commented on #11
I closed. See #25

[2018-01-25 15:58] #11 closed

[2018-01-30 09:22] rodnem opened #26 "Export icons function"
It could be extremely useful to be able to export a selection of icons using an inverse method of importing. I mean… I would like to be able to export without the color symbol applied to a shape mask. The shape used as mask then will have a variable hexadecimal color fill.

For example, in icomoon you can export your icons set with another color applied.

So then we would have cleaner svgs!

---
P

[2018-01-30 22:48] elliothylton opened #27 "Doesnt work for SVGO compressed SVGs"
Doesnt work for SVGO compressed SVGs

[2018-01-31 09:41] AMoreaux commented on #27
Can you send me two icons of your set please ?

[2018-01-31 10:17] AMoreaux commented on #26
Hi @rodnem, I understand the problem but today I don't have time to develop this feature. If you know developers who could work on this feature I can help him.

[2018-02-01 03:13] redhajr opened #28 "Import icons as icon font"
some cases designer needs icon font ass assets not only svg

[2018-02-02 20:04] iansoper commented on #17
I'm having a similar issue, were you able to solve this?

[2018-02-02 20:15] iansoper opened #29 "Errors for Import Icons"
When I try to import SVG files and apply a color mask, and convert to symbol, it is only importing the file, it is NOT applying a color mask, and NOT converting to a symbol. Here is the error I'm seeing in the Plugin Output console:

[code]

[2018-02-04 14:56] AMoreaux commented on #29
hi @iansoper , we know this bug. You can try with this version : https://drive.google.com/open?id=1y05-V_X-d6U2Ag_xR2J_1Uk_Nghc2HVb

[2018-02-05 05:15] iansoper commented on #29
@AMoreaux I'm unable to download this, blocked. Can you attach directly?

[2018-02-05 10:10] AMoreaux commented on #29
@iansoper : https://drive.google.com/open?id=1A9oHw2_0VvmErXElk_yLBJZJvuXmn9Te

[2018-02-07 12:16] sigtm commented on #2
Just wanted to cheer you guys on – if position within the viewBox was preserved, this plugin would immediately save me a ton of time :) In case it's helpful in any way, here is a production SVG from an icon set I'm working on:

https://www.dropbox.com/s/1bnt11mxrigxxen/calendar.svg?dl=0

It is pretty similar in structure to Google's Material icons (production SVG versions). You'll notice that the

[2018-02-07 12:32] AMoreaux commented on #2
Hi @sigtm , if you use this version https://drive.google.com/open?id=1A9oHw2_0VvmErXElk_yLBJZJvuXmn9Te and you import icon **without mask**, the position in the viewbox will be keep.

[2018-02-09 10:43] sigtm commented on #2
@AMoreaux indeed it is, nice one! Watching the repo now, looking forward to including it in my workflow as soon as it works with masking as well 👍

[2018-02-15 15:05] valentinchrt commented on #28
Hey @redhajr,

Thanks for your feedback! Unfortunately, it's not the aim of Sketch Icons :)

If you want to work with an icon font, I recommend you to read this article:
[](https://medium.com/sketch-app-sources/the-perfect-sketch-icon-workflow-8d15bd5cc873)

👋

[2018-02-15 15:05] #28 closed

[2018-02-25 05:59] redview13 opened #30 "Plugin not working and removes the mask"
Sketch 48.2
Plugin suddenly stopped working.
If there is a mask, the plugin deletes it when trying to replace or add it.

[2018-02-25 12:40] xlanex6 commented on #30
Sketch 48.2
Same for me.
no response on cmd + shift + i or by the menu.

no reaction

[2018-02-26 16:29] heyitsreach opened #31 "Plugin not responding"
Plugin shows no response at all. I just updated OS to High Sierra  10.13.3 running a older version of Sketch 47.1

[2018-02-28 22:20] #27 closed

[2018-03-01 14:26] djmtype opened #32 "Sketch 49 issues"
After updating to Sketch v49, this plugin will no longer apply a mask. It doesn't allow me to choose a color symbol as the mask color from the same document or any library even though the libraries are listed in the dropdown.

After the import has finished some of the icons are not sized properly – they remain enormous in size.

[Screenshot](https://cloudup.com/cIWR8-0FUdj)

[2018-03-01 15:25] djmtype commented on #32
I was able to apply a mask to the icons. But, first I had to choose a color from the color picker. Then, run the Sketch Icons command to replace mask color.

Regardless, there is no way of assigning a color symbol to be the mask color – it appears broken in Sketch 49.

[2018-03-02 19:13] AMoreaux commented on #32
Hi @djmtype, we are working to resolve this issue. Thanks for the report 😉

[2018-03-02 19:17] AMoreaux commented on #30
Hi @xlanex6, try to disable others plugin. It may be a conflict with another plugin. By the way @redview13 we work on a new version to resolve some issue. Thanks for your reports 👍

[2018-03-05 22:08] andreechou opened #33 "Can't find Symbols to add on color"
<img width="1600" alt="captura de tela 2018-03-05 19 08 29" src="https://user-images.githubusercontent.com/3429661/37002473-9ab7f6e0-20a8-11e8-84c4-89629d46dfd5.png">

Plugin can't find Symbols to add to Color.

[2018-03-05 22:50] AMoreaux commented on #33
Hi, it will be fixed in the next release. 😉

[2018-03-08 09:14] GabrielAtanasov commented on #33
@AMoreaux hi bro, you are fo really fantastic work with your plugin. You saved me an hour of dumb work, so I'm so thankful. But right now I must apply a mask to hundreds of icons, and I this feature of the plugin. Can you tell me when will be next release, because I need really fast to do these?

Thanks for support and keeping plugin up.

[2018-03-13 08:35] GabrielAtanasov commented on #33
@valentinchrt @AMoreaux We are still waiting.

[2018-03-13 09:47] AMoreaux commented on #33
@GabrielAtanasov You can try the beta version : https://www.dropbox.com/s/qmo8e1kq1ip6hvt/v4_sketch-icons_beta.zip?dl=0

[2018-03-13 12:52] #24 closed

[2018-03-13 12:55] AMoreaux commented on #21
hi @runnickrun  try the next release in beta. There is multiple size. (settings -> presets) https://www.dropbox.com/s/qmo8e1kq1ip6hvt/v4_sketch-icons_beta.zip?dl=0
Send me your feedback 😉

[2018-03-13 12:56] #25 closed

[2018-03-19 17:32] uicoded opened #34 ""Import Icons..." does not do anything (Sketch 49.1)"
**Sketch 49.1 (51147), Sketch-Icons 3.0.14**
Selecting: "Plugins->Sketch Icons->Import Icons..." does not perform any action.
![sketch icons not working](https://user-images.githubusercontent.com/124282/37611746-945f7bfc-2b79-11e8-94c5-09024947de51.gif)

Expected behavior: Configure your import modal should open.

[2018-03-19 22:11] AMoreaux commented on #34
What version of osx do you use ?

[2018-03-21 15:22] twitcher07 commented on #34
I seem to be having this same issue.
https://www.dropbox.com/s/by6bgv415c10r3f/sketch%20icons%20plugin_720.mov?dl=0

macOS version 10.11.6
Sketch version: 49.1
Sketch-icon version: 3.0.14

[2018-03-21 15:32] AMoreaux commented on #34
Sorry but Sketch Icons is not compatible with MacOS El Capitan.

[2018-03-21 17:32] twitcher07 commented on #34
Ah ok. I've updated to High Sierra and now it works. Thanks!

[2018-03-23 20:52] #34 closed

[2018-03-23 20:53] #33 closed

[2018-03-23 20:53] #32 closed

[2018-03-23 20:54] #29 closed

[2018-03-23 20:54] #30 closed

[2018-03-23 20:55] #21 closed

[2018-03-23 20:55] #22 closed

[2018-03-26 01:22] coloripop opened #35 "The plugin in not working"
I have Sketch 49.1.
The import screen doesn't appear.

[2018-03-26 07:27] AMoreaux commented on #35
Do you use osx el capitan ? Sketch Icons only work on sierra and high sierra.

[2018-03-26 09:07] AMoreaux commented on #31
Hi @heyitsreach. Sorry for the delay. Sketch Icons only work from sketch 48.

[2018-03-26 13:29] coloripop commented on #35
I am using macOS Sierra v 10.12.3
Sketch version: 49.1

I can use the previous version:
Version 3.0.14But version 4, doesn't work.

On Mar 26, 2018 07:27, "Antoine Moreaux" <notifications@github.com> wrote:

[2018-03-26 13:46] AMoreaux commented on #35
Can you send me a screenshot of your console please. (like my message here: https://github.com/AMoreaux/Sketch-Icons/issues/19)

[2018-03-26 13:59] coloripop commented on #35
There goes!

2018-03-26 9:46 GMT-04:00 Antoine Moreaux <notifications@github.com>:

[2018-04-04 00:17] wrongch opened #36 "Fail to import some Material Design Icons with mask"
I want to import material design icons, and add the mask.

Most icons  are perfect, except some icons like  ic_battery_80， ic_battery_50  series.
when imported , all the same, like the ic_battery_full.

[2018-04-28 14:37] #23 closed

[2018-04-28 14:38] #31 closed

[2018-04-28 14:38] #26 closed

[2018-04-30 09:26] Weissenberger13 opened #37 "Plugin menu doesn't appear"
When I click on an option, the popup box doesnt appear so essentially can't use the plugin.

[2018-04-30 11:15] AMoreaux commented on #37
What version of OSX and sketch do you use ?

[2018-05-02 15:03] dnsorlov commented on #37
Same here, no reaction on any interactions with plugin menu, OSX 10.12.3, sketch 49.3.

[2018-05-03 13:06] Weissenberger13 commented on #37
sketch 49.3, OSX 10.12.1

[2018-05-03 13:15] AMoreaux commented on #37
The oldest version I could test is sketch 49.3 and OSX 10.12.6.
Try again by disabling the other plugin. Sometimes there are conflicts between plugins.
Moreover can you send me a screenshot of your console please. (See my message here: #19 )

[2018-05-04 10:04] Weissenberger13 commented on #37
I updated my osx to the 10.12.6 and it works now

[2018-05-08 15:25] kweamod opened #38 "Apply color mask doesn't apply mask"
When I try to apply a Color mask via Symbol it just colorizes the shapes in the symbol directly and doesn't add the color as a mask. So I can't change the color in the overrides.

[2018-05-08 15:32] AMoreaux commented on #38
You use outline icons ? Try to check "stroke to fill" in settings. It will transform border to fill and you will be able to use color as mask.

[2018-05-09 11:31] kweamod commented on #38
@AMoreaux Thanks for your reply. It works when I use the "Convert to Outlines" functionality of Sketch. However the checking of "stroke to fill" seems to have no effect.

[2018-05-09 15:59] AMoreaux commented on #38
@kweamod Could you send me one or two icons with which you have tested the function "stroke to fill" so that I can correct it.

[2018-05-11 14:50] kweamod commented on #38
Sure thing. @AMoreaux

[stroke-to-fill-test.sketch.zip](https://github.com/AMoreaux/Sketch-Icons/files/1995712/stroke-to-fill-test.sketch.zip)

[2018-05-15 08:58] misterchibi commented on #38
I have the same problem since I update to Sketch 50.

[2018-05-15 10:56] anm16 opened #39 "Sketch Icon Error on Sketch version 50!"
I have trouble in making for mask for icon when using plug-in on sketch version 50, could you please send me an updated version to activate this function? Thank u so much : )

[2018-05-15 23:57] eksteff commented on #39
I can confirm. Won't insert color mask, tried uninstall/re-install, disable/enable etc.. no luck.

[2018-05-16 06:51] AMoreaux commented on #39
what is the problem more precisely. can you send me one or two icons for me to try on my side.

[2018-05-16 11:26] anm16 commented on #39
Now, your plugin cannot be activated on Sketch version 50. These are my sample icons, you can try them. Hopefully, the fixing version would be available soon. Thank u so much : )

[ic.zip](https://github.com/AMoreaux/Sketch-Icons/files/2008769/ic.zip)

[2018-05-16 17:07] AMoreaux commented on #38
I’m working on it. I will publish a patch on a few days. 🙂

[2018-05-16 17:12] AMoreaux commented on #39
What do you mean by « can not be activated » ?

Thank for you icons. The bug related to the mask is now fixed and I will publish a patch in a few days 🙂

[2018-05-17 05:10] anm16 commented on #39
Nice : ) thank u so much.

[2018-05-18 13:50] sigtm commented on #2
@AMoreaux is this implemented in production now? I just did a quick test and it seemed to work as expected, so just curious if there's a reason this issue isn't closed before I set it loose on my precious production files :)

[2018-05-18 14:39] kweamod commented on #38
@AMoreaux Works! Thank you for the update! :)

[2018-05-18 15:33] AMoreaux commented on #38
Thanks 🙂 let me know if you find other bugs. 😉

[2018-05-18 15:37] #37 closed

[2018-05-19 13:29] AMoreaux commented on #2
Hi @sigtm I tested with @richardbruskowski 's icons (above) and it worked on my side. Can you try with your icons and confirm everything is fine. Thank you 🙂

[2018-05-19 13:29] #38 closed

[2018-05-19 13:50] AMoreaux commented on #36
Hi @wrongch . To apply a color on icons you need to use masks. So the color is applied on one shape composed by all shapes of the icon. You can't apply more than one color on a single icon. As you can see there is more than one color on ic_battery series. 😕

[2018-05-19 13:50] #36 closed

[2018-05-19 13:52] AMoreaux commented on #39
Hi @anm16, did you try with the last version ? 🙂

[2018-05-20 06:29] anm16 commented on #39
Hi @AMoreaux. I have tried on Sketch version 50.2; however it still cannot be activated : (

[2018-05-20 08:55] AMoreaux commented on #39
What version of OS X  do you use ?

[2018-05-20 09:17] anm16 commented on #39
10.13.4

[2018-05-20 09:28] AMoreaux commented on #39
It can be a conflict with other plugin (sketch focus for example) Try to disable other plugins.

[2018-05-21 06:46] anm16 commented on #39
Thank u so much : )

[2018-05-22 09:51] richardbruskowski commented on #2
@AMoreaux @sigtm
I ran some quick tests and every icon I looked at closely apparently was imported with precisely correct positioning. 👍

[2018-05-22 16:28] sigtm commented on #2
@AMoreaux They seem to be positioned correctly on my end 👍

[2018-05-24 08:27] kweamod opened #40 "Problem with color mask and rotated shapes"
Hi,
first of all thank you for the plugin and keeping it updated. It's really great!

I noticed the apply color mask function behaves weird when applying it to rotated shapes. I can't specify exactly what is happening, but it seems to somehow "reset" the rotation or something.

Maybe you can look into that?

I attached a sample file that shows some bugs.

[color-mask-bugs.sketch.zip](https://githu

[2018-06-07 13:44] pungp0 opened #41 "pungppk"

[2018-06-09 16:21] #41 closed

[2018-06-15 15:40] bjohnsonthd opened #42 "Plugin not working"
Click any of the options in the Sketch Icons menu does not work.

[2018-06-15 16:56] AMoreaux commented on #42
Hi @bjohnsonthd What version of MacOS and Sketch do you use?

[2018-06-15 17:02] bjohnsonthd commented on #42
50.2, el Capitan.

[2018-06-15 17:05] AMoreaux commented on #42
Sketch Icons don't work on El Capitan. Update to high sierra to use it.

[2018-06-17 06:00] davidcameron opened #44 "Masks not applying to parts of icons against edge of artboard"
<img width="618" alt="screenshot_199" src="https://user-images.githubusercontent.com/1865099/41505234-fc18e58c-71b8-11e8-8572-72d17d6ea1e3.png">

See fix example: https://github.com/AMoreaux/Sketch-Icons/pull/43

[2018-06-17 06:18] davidcameron commented on #44
Nevermind, only happens when you have a border on your mask symbols :)

[2018-06-18 01:37] xinyoDeputy commented on #42
same issue

[2018-06-18 06:20] AMoreaux commented on #42
Hi @xinyoDeputy you use the latest version of sketch ? Try to disable other plugins. A conflict with another plugin is possible. ( sketch focus)

[2018-06-18 12:40] bjohnsonthd commented on #42
Updating to High Sierra solved my issue.

[2018-07-09 08:59] brrr opened #45 ""Import icons..." modal dialog lack of all input element"
First of all, thank you for the greet work!
Alter I click "Import icons..." menu button, a modal dialog shows ,but not completely.
It seems all input elements in the modal dialog are missing. See attachment below.

I've tried reinstall the plugin (manually or via Runner),disable all other plugins, but neither works

OS ver:10.13.5 High Sierra
Sketch ver:45.2
stitch-icons ver:4.0.5

<img width="423

[2018-07-09 09:52] brrr commented on #45
I update sketch to 49, it works fine now.
It seems that this plugin not support sketch 45
please close this issue

[2018-07-09 09:56] valentinchrt commented on #45
Thanks @brrr for your feedback!

[2018-07-09 09:56] #45 closed

[2018-07-16 14:13] misterchibi opened #46 "Replace Icons doesn't work with Sketch 51"
I try to use "replace icons'" but this feature doesn't work and I have no error feedback. :/

[2018-07-16 20:40] AMoreaux commented on #46
Hi @misterchibi, thanks for the feedback. I will deploy a fix release in few days 😉

[2018-07-24 07:45] ziyafenn opened #47 "Organizing icons duplicates them on v51"
Hello. It's an amazing plugin! I'm not sure if it's intended, but when organizing icons on Sketch v51, it just duplicates them as well.

Thanks,

[2018-07-24 08:11] AMoreaux commented on #47
Hi @ziyafenn. Thank for the feedback. Do you organize with a mask ? I will fix the bug. But for the moment you can organize without the mask and apply it in a second time.

[2018-07-24 08:14] ziyafenn commented on #47
@AMoreaux nope, i organize it without the mask.
Just to give you the background:
I organize already imported as a symbol icon. Just because i import icons as i need them and not all of them at once.

Thanks.

[2018-07-24 08:34] AMoreaux commented on #47
🤔I will investigate. If it's possible, can you send me 2 of your icons to test in real situation?

[2018-07-24 08:50] ziyafenn commented on #47
@AMoreaux here you go
[test-icons.zip](https://github.com/AMoreaux/Sketch-Icons/files/2222776/test-icons.zip)

[2018-10-03 01:30] mkstvnsn opened #48 "Not working on Sketch 52"
Trying to import fonts but nothing happens. I'm sure you're aware.

[2018-10-03 12:43] valentinchrt commented on #48
Hi @mkstvnsn!

Thanks for your feedback.

Indeed, we are aware of the problem. We are currently working on it, we should roll out a new version in the coming weeks. We are doing our best to solve the problem as soon as possible.

Val

[2018-10-03 23:32] mkstvnsn commented on #48
Awesome @valentinchrt! Was wondering if it was just me. Thanks for the great plugin!

[2018-10-04 12:17] preciselykem opened #49 "replace mask with style"
Now that sketch 51 supports layer style overrides, I'd like to move away from masks and into styles. Would love for this plugin to let me apply a layer style to all icons.

[2018-10-04 12:54] valentinchrt commented on #49
Hi @preciselykem,

Thanks for your suggestion!
To be honest, we are currently working on this feature. It will be implemented in the next few weeks.

We are doing our best to edit the plugin as soon as possible. 😉

Val

[2018-10-04 16:41] aaronsleeper commented on #48
i can't believe i just found this plugin. would've saved me so much time lol and now it doesn't work in 52. definitely keeping an eye on this. hope it's working soon. thank you soooooo much for your work!!!!

[2018-10-07 15:28] infinyteam opened #50 "Not working on MacOS High Sierra 10.13.6 and Sketch 52"
Hi,
When I click on Import Icons nothing happening but when I click on other links like Replace icons or settings it works fine! so, how can I import icons now? please help!

[2018-10-07 16:06] valentinchrt commented on #50
Hi,

This issue will be fixed in the next release. It should be deployed this week!

Thanks for your comprehension :)

Val

[2018-10-07 16:07] #50 closed

[2018-10-07 16:07] #49 closed

[2018-10-08 14:44] EGonzal1990 opened #51 "Your PlugIn is failing"
with the newest update from Sketch  52.1, there is no way to use the plugIn to import icons.

[2018-10-08 15:02] valentinchrt commented on #51
Hey @EGonzal1990,

We are aware of the problem. We are currently working on it, we should roll out a new version this week. We are doing our best to solve the problem as soon as possible.

Best,
Val

[2018-10-16 11:10] #48 closed

[2018-10-16 11:10] #51 closed

[2018-10-22 01:44] ivanrafael opened #52 "Color mask is not working"
It is not possible to import svg with a color mask, either from my custom colors or applying one  via plugin.

[2018-11-16 21:58] lucaorio commented on #52
I'm experiencing this problem, too. @ivanrafael have you found a workaround for this?

[2018-11-21 09:55] EGonzal1990 opened #53 "color overlays with the newest Sketch update"
It generates automatically everything in groups and you can not use direct the color overlay from Sketch with the newest update. is there a chance to import just the shapes without being grouped?

[2018-12-09 11:04] melMass commented on #52
@AMoreaux There seem to be issues with mask and overrides. Any news?

[2019-01-08 15:32] Tinncso commented on #2
Hi, I still have this issue with the latest version v5.0.0. (Same issue that @richardbruskowski had first)

[2019-01-22 10:53] mattiasj commented on #53
I noticed this as well since I'm updating a bunch of icon libraries

[2019-03-11 14:31] LyubomirPereyma commented on #52
The same thing

[2019-04-07 17:43] qimmiq commented on #2
hey there,
is there also the possibility to import icons with their original viewBox? for example 84x72 + the position an ratio? ...

[2019-04-09 06:20] tijmenvangurp commented on #2
Does not work on my machine: I get `MOJavaScriptException: ReferenceError: Can't find variable: MSBackgroundColorView
`
Would realy love the have the feature that respects the viewbox / boundingbox of an SVG.

[2019-04-09 09:34] qimmiq commented on #2
@tijmenvangurp

Mathieu from Sketch provided me with a plugin yesterday. https://github.com/mathieudutour/import-svg-as-artboard ... works fine for importing svgs with their excisting viewBox/ Artboardsize

[2019-05-03 20:55] drw158 opened #55 "Imported icons apply unnecessary groups"
When I import an svg file containing simple markup, the plugin adds at least one unnecessary group. It would be nice to specify this in settings.

<img width="409" alt="Screen Shot 2019-05-03 at 3 49 42 PM" src="https://user-images.githubusercontent.com/618551/57165085-b71db480-6dbb-11e9-8d8c-211f6cbcc924.png">

Markup of svg:

[code]

[2019-05-03 21:14] drw158 commented on #55
Settings:

<img width="535" alt="Screen Shot 2019-05-03 at 4 13 30 PM" src="https://user-images.githubusercontent.com/618551/57166011-7a9f8800-6dbe-11e9-8909-c09775dc1147.png">
<img width="535" alt="Screen Shot 2019-05-03 at 4 13 23 PM" src="https://user-images.githubusercontent.com/618551/57166013-7c694b80-6dbe-11e9-9c59-5fb517491366.png">

[2019-06-05 17:12] simplekjl commented on #55
same issue here, I tried to import with different settings and seems to be not working.

Probably we might need to lower down a version from font awesome

[2019-08-15 10:26] JulSeb42 opened #57 "Bug: generated resize bigger than expected"
Hey,

I just downloaded the plugin, but I saw that every time I generate different sizes the generated icon is slightly bigger or smaller than the canvas / expected size of the icon.
Example: the original icon was 40x40px, and when I use the plugin the generated one is 38.09x38.09px instead of 40x40px, 30.48x30.48px instead of 32x32px, etc.
Is that normal?
Thanks!

---
Sketch Version 57
Plugin Ver

[2019-08-27 16:03] pjmdesi opened #58 "Sketch Reports SketchIconsFramework.framework can't be verified"
Sketch error: **"SketchIconsFramework.framework" can't be verified because its integrity cannot be verified.**

**This software needs to be updated. Contact the developer for more information**

Sketch version: 57.1 (83088)
MacOS version: 10.15 Beta (19A536g)

Error occurs when trying to import icons **Plugins -> Sketch Icons -> Import Icons...**
It is a Mac software authentication error due to ou

[2019-12-02 08:36] nader-k opened #59 "Bug: Resizing Icons!"
#57
Actually "Sketch-Icons" is the best plugin for organizing icons for the sketch-app plugin.
But "Organize Icons" destroying icons sizes.
I hope to fix this bug and "Sketch-Icons" will be perfect for us.

![Screen Shot 2019-12-02 at 12 03 47 PM](https://user-images.githubusercontent.com/39516274/69944137-ce608400-14fb-11ea-9764-f2563762e4e3.png)

**Does anyone have this problem?**

[2020-01-13 07:10] itakesmallbytes commented on #58
Hey there @pjmdesi ,

I'm also running into this issue within macOS Catalina. I did exactly what you did however it still doesn't work. Have you found any other workaround?

@AMoreaux - What can we do to circumvent this issue? I saw in your documentation that Sketch Icons isn't compatible with El Capitan, however I'm running Catalina.

MacOS version: 10.15.2
Sketch version: 61.2

Thanks a bunch, a

[2020-01-13 16:16] pjmdesi commented on #58
Hi @itakesmallbytes,

I am not aware of another workaround. I actually stopped seeing this error a few macOS versions ago, so I'm not sure what can be done to fix this issue now.

[2020-01-14 23:08] itakesmallbytes commented on #58
Thanks so much, appreciate it!

Sent from my iPhone

On Jan 13, 2020, at 11:16 AM, PJ <notifications@github.com> wrote:

﻿

Hi @itakesmallbytes <https://github.com/itakesmallbytes>,

I am not aware of another workaround. I actually stopped seeing this error
a few macOS versions ago, so I'm not sure what can be done to fix this
issue now.

—
You are receiving this because you were mentioned.
Reply

[2020-01-16 15:24] edoardocavazza opened #60 "Plugin usage via Command Line"
Hi!

First of all, thanks for this project, it resolved a lot of problems to us :)

In our iconset repository we setted up a script  to dynamically generate webfonts and single glyph svg files. We were wondering if using the `sketchtool` bin, we could automatically update the Sketch library, passing sketch file, options and svg files list as command line flags. Something like:

[code]

[2020-01-28 12:12] Jennifervanvugt commented on #58
@pjmdesi Hello, I had this exact same problem yesterday.

This is how I fixed it.

Go to System Preference -> Security & Privacy -> General.
Then unlock the lock.

<img width="680" alt="Screenshot 2020-01-28 at 13 09 30" src="https://user-images.githubusercontent.com/60389492/73262842-737f9c00-41cf-11ea-9fda-6343f5753c26.png">

You will probably have an extra message here you need to confirm. "Ske

[2020-03-18 21:41] nlasso commented on #42
Do you happen to know if it works with Catalina? If I try to import icons it just hangs and Application stop responding

[2020-04-21 14:49] rosanadk commented on #42
Same issue with Catalina, i get this message "SketchIconsFramework.framework cannot be opened because the developer cannot be verified."

[2020-05-28 09:05] reneconrad opened #61 "Sketch-Icons Error, Import does not do anything"
I have a problem when I tried importing .svg files.
The plugin log tells me this

TypeError: context.api is not a function. (In 'context.api()', 'context.api' is null)

Is there anything I can do to fix this?

Here is my device Information:
MacOS version : 10.15.4
Sketch Version : Version 66.1

Thank you very much.

[2020-05-28 14:07] uxvnpacheco commented on #61
same here

[2020-05-28 17:24] AMoreaux commented on #61
Hi,

Since the apple release the Catalina version, they have added new security to execute some type of code (like framework written in Objective-C). To disable this security on the developer side, Apple asks to be part of the Apple developer program at 99$.  If you had ever seen this message it may be the origin of the problem.
<img width="532" alt="Screenshot 2020-05-28 at 18 56 52" src="https:/

[2020-05-28 19:39] uxvnpacheco commented on #61
Hi, thank you for your feedback.

But unfortunately it didn't solve the problem.

:/

Em qui., 28 de mai. de 2020 às 14:24, Antoine Moreaux <
notifications@github.com> escreveu:

--
Vanessa Pacheco

Senior UX UI Designer
+55 48 99961.3371 <+5548999613371>
hello@vanessapacheco.com.br
www.vanessapacheco.com.br <//www.vanessapacheco.com.br>
[image: linkedin] <https://www.linkedin.com/in/vnpacheco/>
[

[2020-05-28 23:29] AMoreaux commented on #61
I released version 5.0.1 which should solve the problem.

[2020-05-29 00:25] uxvnpacheco commented on #61
@AMoreaux
 Awesome! Everything works fine now.

[2020-05-29 05:58] reneconrad commented on #61
Thank you so much @AMoreaux
Now it works!

[2020-05-29 05:58] #61 closed

[2020-06-13 17:04] codemonza opened #62 "Cannot Create Symbols"
Hi there, very awesome plugin!

Maybe it's due to the recent update to 5.0.1, the symbol creation is not working though (or it possibly could be my Sketch is at v61.2). The import only created artboards and the layer of the icon.

Thank you for all your work making this plugin available!

Monza

[2020-06-14 00:48] LanesGood commented on #60
@edoardocavazza my team is also interested in something like this. Did you find an alternate solution?

[2020-06-15 09:55] edoardocavazza commented on #60
@LanesGood Not yet. I haven't had time to open a PR neither :(

[2020-06-15 12:48] AMoreaux commented on #62
Hi @codemonza

I'm sorry about that. It's possible that the new version of Sketch Icons didn't work on an old version of Sketch. I just make test on the latest version of Sketch.  You can rollback on an older version of Sketch Icons here https://github.com/AMoreaux/Sketch-Icons/releases

[2020-06-15 12:57] AMoreaux commented on #60
Hi there,
Good idea! I'm curious about your use cases. Could you tell me more about that?
For now, I haven't time to work on a new feature 😕 PR are welcome.

[2020-06-15 13:09] edoardocavazza commented on #60
Hello @AMoreaux!

We are used to design iconset using fonts technologies, but we also need to export a Sketch library for designers and SVGs for developers. Since we already set up a CI tool which converts UFOs to Web fonts and exports glyphs to single SVG files, we would like to close the loop using `sketchtool` and your plugin to automatically update the Sketch library.

[2020-06-15 13:32] LanesGood commented on #60
Hi @AMoreaux our use case is similar to @edoardocavazza's. Our team designs icons in Affinity Designer/Illustrator due to the more precise vector control (fill rules, handle pixel snapping, etc.) We use these in web projects with a webfont generated via CLI tool, but have a Sketch library for designers to create mockups and the like. Our ideal goal with a plugin improving on Sketch Icons would be

[2020-06-16 10:33] AMoreaux commented on #60
Thank you @edoardocavazza @LanesGood

[2020-06-22 04:28] yaya0305 opened #63 "Doesn't work with Sketch 66.1"
I try to use "import icons'" but this feature doesn't work :((

[2020-06-22 13:00] AMoreaux commented on #63
Hi @yaya0305, what version of Sketch Icons do you use?

[2020-06-23 03:30] yaya0305 commented on #63
It's the version 5.0.1.
And then running shows "Sketch has been opened in Safe Mode. Your plugins have been temporarily disable"

[2020-06-27 16:49] josep-gaspar opened #64 "Organize icons not working with Sketch 66.1"
Hi

It seems "Organize icons" option is not working with Sketch 66.1, at least for me. Here is what I found

1. Drag and dropped a bunch of icons on Sketch
2. Selected all icon layers
3. Plugins -> SketchIcons -> Organize -> Continue

with v5.0.1
4.  Plugin creates the artboards, one per icon, with the right name, but nothing inside

with v5.0.0
4. Nothing happens

Any idea?

Thanks!

[2020-07-02 19:00] ghost opened #65 "Imported Icons are empty artboards"
Whenever I import icons all of them are empty artboards. I've tried with several different svg icons.

[2020-08-12 11:57] andyleetri opened #66 "Developer cannot be verified."
Hi,
I am receiving this error when using the plugin.
“SketchIconsFramework.framework” cannot be opened because the developer cannot be verified.

Currently using Sketch - Version 67.2
Anyway around this?

Thanks,

[2020-08-12 12:03] andyleetri commented on #66
Fixed: https://github.com/AMoreaux/Sketch-Icons/issues/58#issuecomment-579216755

[2020-08-18 12:07] alfathony commented on #64
It's the same problem on sketch latest Version 68 (102490). When the plugin organize creates the artboards but nothing inside

[2020-09-11 12:57] cloverfish commented on #64
Same here. I was very excited to try this plugin. It was going to save me a lot of time, but on my first test it failed.

[2020-09-11 14:40] stephdotreppe opened #67 "Import not working"
Sketch v. 68.2 running on MacOS Mojave - When importing, I am unable to choose colors, it does not import the multiple sizes, and the final imported icons are severely distorted.

[2020-10-15 07:39] Miamnamina opened #68 "Empty art boards during import"
On MacOS Catalina with Sketch 69, i cannot import icons anymore. The icons imported show up as a white art board with nothing on it.
If I drag icons into sketch they seem distorted and after the organize function the art boards are again empty and the icons are gone.

I need to delete the plug in and restart (!) my computer so the icon distortion stops on new icons I drag and drop...

[2021-01-28 05:50] keano12 commented on #68
I get the same issue. I get empty white artboards. It doesn't import to different sizes either only 24px. I am on Sketch 70.3

[2021-03-27 11:05] tynana opened #69 "Import not working at all"
When I click "Import icons" nothing happens. I work on Sketch 70.5, MacOS Big Sur with M1 processor.
Please fix this, your plugin was such a time saver 🙏🏻

[2021-04-22 02:55] montemartin commented on #69
I'm in the same boat, Sketch 71.2, Big Sur and M1. I was really excited to save _hours_ arranging an icon library I'm working on. I know the plugin is working - I can access the settings modal, and if I run organize or replace without a layer selected an alert warns me to select a layer, but once a layer is selected nothing other than settings generates response.

I assume it has something to do w

[2021-07-06 15:42] mauriziomambrini commented on #69
I have the same problem, with Sketch 73.1, Big Sur and M1. Please fix this! 🙏🏻

[2021-07-06 16:52] AMoreaux commented on #69
Hi there,
I have no access to a mac M1 so I can't debug this issue. The project is open, if anyone wants to create a PR, I will be happy to work with him.

[2021-07-13 02:15] natarajgcb commented on #58
Still happening. Sketch version 73.1 (127209), macOS version 11.4, Sketch Icon version 5.0.1 (28 May 2020)... does Sketch-Icons not work with Sketch past version 52 as is listed in the `manifest.json`?

[2022-01-27 12:44] oliverkierepka commented on #69
Sketch Import does not work. It does not open the popup at all.
![image](https://user-images.githubusercontent.com/552528/151361402-0bc47b0f-2a2d-49f6-b5ef-29fd6075fc6a.png)

[2022-02-03 13:01] hbxes commented on #69
Yes I have the same issue, i can't import. If I click on "Import" on the plugin, then nothing happens.  (I work with an Apple M1 Pro, Sketch Version 82.1. It would be nice to fix it soon.

[2022-02-20 23:22] james182 commented on #69
I have sketch 75, on the new MBP M1 Max and this plugin is not working, nothing happens. I love this plugin it saves soooo much time. Please Fix.

[2022-03-23 08:25] hbxes commented on #69
For the MAC with M1 Chip there is a workaround for the moment:

You have to start the Sketch App with **Rosetta**, then the plug-in works.

Got to the Applications folder, right click on sketch app, then select info (information in german) and tick "open with rosetta"

Hope that helps for the moment.  But still a real fix would be appreciated

<img width="216" alt="Bildschirmfoto 2022-03-23 um 09

[2022-05-09 11:35] oliverkierepka commented on #69
Thank you :) This helped

[2022-05-09 11:36] oliverkierepka commented on #69
@james182   Thanks, this helped :)

[2022-05-21 08:13] maryroe commented on #69
I have the same issue with Macbook M1. Thank you for creating one of the best plugins

[2022-06-16 21:37] joshsanders commented on #69
running into this same issue ... currently on macOS Monterey v12.2.1 , Apple M1, Sketch v89 .  Loved this plugin too...one of my most used. 😩